body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
nav img{
    width: 200px;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#editFormContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#editFormContainer button[type="button"] {
    background-color: #f44336;
}

#editFormContainer button[type="button"]:hover {
    background-color: #e53935;
}

#viviendasTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#viviendasTable th, #viviendasTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#viviendasTable th {
    background-color: #f2f2f2;
}


#viviendasTable button[type="button"] {
    background-color: #f44336;
}

#viviendasTable button[type="button"]:hover {
    background-color: #e53935;
}